@import "../../styles/variable.scss";
.result {
    display: flex;
    justify-content: flex-start;
    padding-top: 4.5rem;
    h4 {
        color: $secondary-color;
        text-align: left;
        font-size: 2.4rem;
        line-height: 3.2rem;
        letter-spacing: 0px;
        font-weight: 800;
        margin-bottom: 2.1rem;
        margin-right: 4.2rem;
        margin-left: 0;
    }
    p.subtitle {
        max-width: 49rem;
        margin-bottom: 4.6rem;
        color: #2B2B2B;
    }
    .side {
        flex: 1;
        opacity: 0;
        visibility: hidden;
        transition: .8s all ease-in-out;
        &:first-child {
            transform: translateX(-100%);
        }
        &:last-child {
            transform: translateX(100%);
        }
    }
    ul {
        margin-bottom: 4rem;
        li {
            background-color: #fff;
            border-radius: 20px;
            margin: 8px 0;
            padding: 12px 24px;
            position: relative;
            overflow: hidden;
            background: linear-gradient(
                to right,
                #fff 0%,
                #fff 75%,
                $secondary-color 75%,
                $secondary-color 100%
            );
            color: #2B2B2B;
            display: flex;
            justify-content: space-between;
            span {
                color: #fff;
            }
            &.total {
                background: linear-gradient(
                    to right,
                    $primary-color 0%,
                    $primary-color 75%,
                    #fff 75%,
                    #fff 100%
                );  
                color: #fff;
                span {
                    color: $primary-color;
                }
            }
        }
    }
    @media (max-width:768px) {
        flex-direction: column;
    }
}
.slide.active-anim {
    .result {
        .side  {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
    }
}